<h3>Painel de administrador</h3>

<div class="card">
  <div class="card-body">
    <a href="/admin/postagens/">
      <button class="btn btn-primary">Postagens</button>
    </a>
    <a href="/admin/categorias/">
      <button class="btn btn-primary">Categorias</button>
    </a>
    <a href="/admin/usuarios/">
      <button class="btn btn-primary">Usuários</button>
    </a>
      <a href="/admin/produtos/">
      <button class="btn btn-primary">Produtos</button>
    </a>
  </div>
</div>