{{!-- Página de formulário de registro --}}
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<h2>Login</h2>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control" required>
            <a href="/usuarios/registro" class="btn btn-success mt-2 col-md-12">Registrar uma nova conta</a>
            <button type="submit" class="btn btn-primary mt-2 col-md-12">Logar</button>
        </form>
    </div>
</div>