<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ops... Página não encontrada!</title>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Oops! Página não encontrada</h2>
			<p>Desculpe mas a página que você tentou acessar não existe ou está temporariamente inacessível.</p>
			<a href="/">Voltar para a página inicial</a>
		</div>
	</div>

</body>

</html>
