{{!-- Página slug da postagem --}}
<div class="card">
    <div class="card-body">
        <h1>{{produto.nome}}</h1>
        <hr>
        <small>Data de publicação: {{produto.date}}</small>
        <hr>
        <h3>{{produto.descricao}}</h3>
        <img src="/img/img-produto/{{produto.urlFoto}}">
    </div>
</div>